logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

.npm
.env
*-env.yml
!sample-env.yml

.npmrc
.serverless
.vscode
.DS_Store
.build
dist/

.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
